.container {
  height: 100%;
  display: flex;
  background-image: url(/static/media/background.86e8fdb4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
}


