.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.presentation {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}


