navbar {
  background-image: url('../../assets/images/navbar.jpg');
  display: flex;
  min-height: 100px;
  justify-content: center;
  width: 100%;

  img {
    width: 150px;
    height: 70px;
    margin: 1em;
  }
}
