footer {
  display: flex;
  min-height: 70px;
  justify-content: center;
  width: 100%;
  color: #4bc0ee;
  text-align: center;
  z-index: 101;
  position: fixed;
  bottom: 0;
  align-items: center;
  background-image: url('../../assets/images/navbar.jpg');
  border-top: 1px solid;

  &:before {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0% rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    bottom: 0;
    content: ' ';
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 100;
  }
}
